body {
  background-color: #eee;
}
.face {
  width: 75px;
  height: 75px;
  background-color: yellow;
  border-radius:50%;
  border: solid 2px black;
}
 .eye{
    width:6px;
    height:6px;
    border:solid 1px black;
    position:relative;
    background-color: white;
    border-radius:3px;
 }

 .left{
    left: 20px;
    top: 26px;
 }

 .right{left:50px;
top:18px;}

.mouth{ width: 30px;
height:10px; 
background-color:black;
margin:16px;
/* can do without a margin and just use top and left. Use inspector tool to move around and find position you want */
top:16px;
left:7px;
position:relative;
border-radius:0 0 45px 45px;
}